# Variables de entorno - NUNCA subir a GitHub
**/.env
**/.env.local
**/.env.production

# Python
__pycache__/
**/__pycache__/
*.pyc
*.pyo

# Node
**/node_modules/
**/.next/

# Docker
**/*.log

# VSCode
.vscode/